# =========================
# Visual Studio
# =========================
.vs/
**/.vs/
*.suo
*.user

# =========================
# Build ASP.NET Core
# =========================
**/bin/
**/obj/

# =========================
# Configuración sensible
# =========================
**/appsettings*.json
!**/appsettings.json.example

# =========================
# Logs
# =========================
**/logs/
*.log

# =========================
# Publicación
# =========================
**/publish/
